@tailwind base;
@tailwind components;
@tailwind utilities;
.h1{
    @apply text-2xl font-semibold font-serif mb-2 text-gray-700 tracking-tighter;
}
.parent{
    @apply flex flex-col basis-1/3 items-center justify-center text-center px-5;
}
.imgs{
    @apply w-14 mb-4;
}
.p{
    @apply font-semibold
}
.section-head{
    @apply text-center text-3xl font-serif font-semibold my-5 text-gray-700;
}
.card-heads{
    @apply text-2xl font-semibold text-white m-2
}
.part-2 ul li{
    font-size: 25px;

}
.part-2 ul li:hover{
   color: rgb(228, 12, 106);
   transform: scale(1.2);
transition: 0.3s all;
}
.facility:hover{
font-size: 18px;
transform: scale(1.1);
transition: 0.3s;
}